body {
}

html {


  }
/* .bg{
    background-image: url("style/hiresgrainyedit.png");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.screen{
    background: url(style/hiresgrainyedit.png) no-repeat center fixed; 
    background-size: cover ;
    height: 780px;
    /* min-height: 768px; */
    width: 1440;
    /* min-width: 1152px;; */
    position: fixed center;


}
.container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
grid-gap: 10px;
}
.disc {

}

.playerOneItem {
    background: red;
    width: 30px;
    height: 30px;
    margin: 5px;
    
}
.playerTwoItem {
    background: blue;
    width: 30px;
    height: 30px;
    margin: 5px;
    
}
/* the column grids */
.columnOne {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 10px;
grid-column: 1;
flex: 0 0 300px;
min-height: 290px;
}
.columnTwo {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 10px;
grid-column: 2;
flex: 0 0 300px;
min-height: 30px;

}
.columnThree {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 10px;
grid-column: 3;
flex: 0 0 300px;  
min-height: 30px;

}
.columnFour {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 10px;
grid-column: 4;
flex: 0 0 300px;   
min-height: 30px;

}
.columnFive {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 10px;
grid-column: 5;
flex: 0 0 300px; 
min-height: 30px;

}
.columnSix {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 10px;
grid-column: 6;
flex: 0 0 300px;   
min-height: 30px;

}
.columnSeven {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 10px;
grid-column: 7;
flex: 0 0 300px; 
min-height: 30px;

}