.container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
grid-gap: 10px;
}
.item {
    background: red;
    width: 40px;
    height: 40px;
    margin: 5px;
    
}
/* the column grids */
.columnOne {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px 40px ;
grid-gap: 10px;
grid-column: 1;   
}
.columnTwo {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 10px;
grid-column: 2;
flex: 0 0 300px;
}
.columnThree {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px 40px ;
grid-gap: 10px;
grid-column: 3;   
}
.columnFour {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px 40px ;
grid-gap: 10px;
grid-column: 4;   
}
.columnFive {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px 40px ;
grid-gap: 10px;
grid-column: 5;   
}
.columnSix {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px 40px ;
grid-gap: 10px;
grid-column: 6;   
}
.columnSeven {
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px 40px ;
grid-gap: 10px;
grid-column: 7;   
}