body {
}

html {


  }
/* .bg{
    background-image: url("style/hiresgrainyedit.png");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.screen{
    background: url(style/hiresgrainywithWordArt.png) no-repeat center fixed; 
    background-size: cover ;
    height: 780px;
    /* min-height: 768px; */
    width: 1440;
    /* min-width: 1152px;; */
    position: center;
display: grid;
grid-template-rows: repeat(400, 1fr);
grid-template-columns: repeat(500, 1fr);

}
.playerOneScore {
 position: absolute;
top: 280px;
left:146px;
right:200px;
bottom: 343px; 
color: white;
font-size: 80px;

} 

.playerTwoScore {
    position: absolute;
   top: 260px;
   left:1147px;
   right:1193px;
   bottom: 343px; 
   color: white;
   font-size: 80px;
   } 

#masked {
    -webkit-mask-image: url("https://jooinn.com/images/tv-screen-texture-31.jpg");
    mask-image: url("https://jooinn.com/images/tv-screen-texture-31.jpg");
}
.container {
    position: relative;
    border: red;
    grid-area: 62/171/192/285; 
    display: grid;
    background: url(style/backgroundTheGame.jpg) no-repeat;
    background-size: cover;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    border-radius: 25px;
    filter: blur(.05px) saturate(60%) brightness(85%);
    -webkit-mask-image: url("https://jooinn.com/images/tv-screen-texture-31.jpg");
    mask-image: url("https://jooinn.com/images/tv-screen-texture-31.jpg");
/* top: 128px;
left: 373px;
right: 676; */
}
.disc {

}

.playerOneItem {
    background-image: url(https://i.imgur.com/uSDBVV2.gif);
    width: 33px;
    height: 30px;
    margin: 5px;
    
}
.playerTwoItem {
    background: url(style/mushroomPlayerDisc30w21h.png) no-repeat;
    width: 33px;
    height: 30px;
    margin: 5px;
    
}
/* the column grids  */
 .columnOne {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 5px;
grid-column: 1;
flex: 0 0 225px;
min-height: 225px;
}
.columnTwo {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 5px;
grid-column: 2;
flex: 0 0 225px;
min-height: 225px;

}
.columnThree {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 5px;
grid-column: 3;
flex: 0 0 225px;  
min-height: 225px;

}
.columnFour {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 5px;
grid-column: 4;
flex: 0 0 225px;   
min-height: 225px;

}
.columnFive {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 5px;
grid-column: 5;
flex: 0 0 225px; 
min-height: 225px;

}
.columnSix {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 5px;
grid-column: 6;
flex: 0 0 225px;   
min-height: 225px;

}
.columnSeven {
    display: flex;
    flex-flow: column-reverse;
grid-gap: 5px;
grid-column: 7;
flex: 0 0 225px; 
min-height: 225px;

}